@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400;600;700;800&display=swap');

body {
    background-color: rgb(20,20,20);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
header {
    display: flex;
    justify-content: center;
}
header ul {
    display: flex;
    padding: 10px 10px 50px 10px;
}
li {
    list-style: none;
    margin: 5px 10px;
}
h1 {
    font-size: 160px;
    font-weight: 700;
    margin: 0;
}
.hero-section {
    text-align: center;
    margin-top: 17vh;
}
.light-text {
    font-weight: 100;
}
footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 100vw;
}
footer ul {
    display: flex;
    padding: 30px;
}
.options{
    display: flex;
}
.options a {
    margin:40px 10px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(255,0,166);
}
.socials {
    width: 100px;
    height: 320px;
    background-color: rgb(255, 0, 166);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}
@media only screen and (max-width: 600px) {
    .socials{
        display: none;
    }
}
.social {
    width: 100%;
    height: 33%;
}
.wave {
    fill: rgb(0,0,0);
    width: 100vw;
    height: 65vh;
    position: fixed;
    bottom: 0;
    left: 0;
}
.social svg {
    fill: white;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle {
    font-size: 50px;
}
h2{
    margin: 3px;
    font-weight: 300;
    text-align: center;
}
h3 {
    margin: 0;
}

/*Work Page*/
.work-details {
    width: 50%;
}
.work-details td {
    padding: 30px;
}
@media only screen and (max-width: 600px) {
    .work-details {
        width: 80%;
    }
    .work-details td {
        padding: 5px;
    }
}
.sub-pages-footer {
    position: fixed;
}

@media only screen and (max-width: 600px) {
    .sub-pages-footer {
        position: relative;
    }
    
}
/*about-me*/

.about-me {
    width: 50%;
    text-align: center;
}

.about-me img {
    height: 200px;
    margin: 40px 10px 10px 10px;  
    border-radius: 50%; 
}

/*contact me page*/
.form-submit {
    width: 50%;
}
.form-submit form {
    width: 100%;
}
.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}
.form-row .form-control {
    width: 50%;
    /* border: none; */
    font-size: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0;
}

.form-row .form-control:focus, 
.form-submit textarea:focus {
    outline:0;
    background-color: yellow;
}
.form-submit textarea{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border: none;
    padding: 20px 0;
    resize: none;
    margin-top: 5px;
    font-size: 20px;
    
}
form button {
    width: 100%;
    background-color: #51bd51;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .form-submit {
        width: 80%;
    }
    .form-submit .form-row {
        display: flex;
        flex-direction: column;
    }
    .form-row .form-control{
        width: 100%;
        margin-top: 5px;
    }
    .contact-footer {
        display: none;
    }
}
/*thank you page*/
.thankyoupage {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*WORK*/
.sub-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}
   



.card-body {
    width:100vw;
    /* height: 100vh; */
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    /* overflow: hidden; */
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px #D6DE33;
    text-align: center;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}
.card2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Josefin Sans', sans-serif;
    border-radius: 18px;
    font-weight: bolder;
    background: white;
    box-shadow: 5px 5px 15px #00A098;
    text-align: center;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}
.card3 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Josefin Sans', sans-serif;
    border-radius: 18px;
    font-weight: bolder;
    background: white;
    box-shadow: 5px 5px 15px #1299D8;
    text-align: center;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}
.card4 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Josefin Sans', sans-serif;
    border-radius: 18px;
    font-weight: bolder;
    background: white;
    box-shadow: 5px 5px 15px rgba(250, 91, 197, 0.9);
    text-align: center;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}
.card-image {
    grid-area: image;
    background: url("/src/images/Email.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
}
.card-image2 {
    grid-area: image;
    background: url("/src/images/RecommendationSystem.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
}
.card-image3 {
    grid-area: image;
    background: url("/src/images/SmartChatbot.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
}
.card-image4 {
    grid-area: image;
    background: url("/src/images/WeatherForecast.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card-text p {
    color: black;
    font-size:15px;
}
.card-text p.recommender {
    color: black;
    font-size:14px;
}
.card-text h2 {
    margin-top:0px;
    font-size:28px;
}
.card-text .email{
    margin-top:0px;
    font-size:22px;
}
.card-text .recommender{
    margin-top:0px;
    font-size:25px;
}
.card-stats {
    grid-area: stats; 
    display: flex;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #D6DE33;
}
.card-stats2 {
    grid-area: stats; 
    display: flex;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #00A098;
}
.card-stats3 {
    grid-area: stats; 
    display: flex;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #1299D8;
}
.card-stats4 {
    grid-area: stats; 
    display: flex;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(250, 91, 197, 0.9);
}
.card-stats .border {
    border-left: 1px solid rgb(20, 20, 20);
    border-right: 1px solid rgb(20, 20, 20);
}
.card-stats .value sup {
    font-size: 12px;
}
.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}
.card-stats2 .border {
    border-left: 1px solid rgb(20, 20, 20);
    border-right: 1px solid rgb(20, 20, 20);
}
.card-stats2 .value sup {
    font-size: 12px;
}
.card-stats2 .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}
.card-stats3 .border {
    border-left: 1px solid rgb(20, 20, 20);
    border-right: 1px solid rgb(20, 20, 20);
}
.card-stats3 .value sup {
    font-size: 12px;
}
.card-stats3 .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}
.card-stats4 .border {
    border-left: 1px solid rgb(20, 20, 20);
    border-right: 1px solid rgb(20, 20, 20);
}
.card-stats4 .value sup {
    font-size: 12px;
}
.card-stats4 .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}
.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card2:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card3:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card4:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
@media only screen and (max-width: 600px) {



}